<div class="container mx-auto p-4 mob:w-[100vw] mob:p-2">
  <div class="w-full my-4 flex items-center justify-between">
    <div class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10 text-white mr-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
      </svg>      
      <h1 class="text-4xl font-bold font-sans text-white">Clients</h1>
    </div>
    <div class="ml-5 flex items-center">
      <button class="bg-teal-4 text-white px-2 py-1 rounded flex items-center text-sm" (click)="createClient()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
        </svg>
        New
      </button>
    </div>
  </div>
  <div class="my-4 rounded-lg shadow bg-blue-6 p-4 flex flex-col">
    <input 
      type="text" 
      placeholder="Search by first name, last name" 
      class="w-full p-2 bg-blue-7 rounded focus:outline-none focus:shadow-outline text-gray-100"
      [(ngModel)]="filterTerm"
    >
    <div class="flex flex-wrap items-center justify-start mt-2">
      <div class="mr-4 mt-2">
        <label for="typeFilter" class="block text-gray-100 text-sm">Filter by Type</label>
        <select id="typeFilter" [(ngModel)]="typeFilter" class="w-full p-2 bg-blue-7 text-gray-100 w-[10rem] rounded">
          <option value="">All</option>
          <option value="PERSON">Person</option>
          <option value="COMPANY">Company</option>
        </select>
      </div>
    
      <div class="mr-4 mt-2">
        <label for="statusFilter" class="block text-gray-100 text-sm">Filter by Status</label>
        <select id="statusFilter" [(ngModel)]="statusFilter" class="w-full p-2 bg-blue-7 text-gray-100 w-[10rem] rounded">
          <option value="">All</option>
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
        </select>
      </div>
    
      <div class="mt-2">
        <label for="regularFilter" class="block text-gray-100 text-sm">Filter by Regular Client</label>
        <select id="regularFilter" [(ngModel)]="regularFilter" class="w-full p-2 bg-blue-7 text-gray-100 w-[10rem] rounded">
          <option value="">All</option>
          <option value="true">Regular</option>
          <option value="false">Not Regular</option>
        </select>
      </div>
    </div>
  </div>

  <div class="overflow-x-auto">
    <table class="min-w-full">
      <thead class="bg-blue-6 text-gray-100">
        <tr>
          <th class="px-4 py-2 text-left rounded-tl-lg">Identification</th>
          <th class="px-4 py-2 text-left">First Name</th>
          <th class="px-4 py-2 text-left">Last Name</th>
          <th class="px-4 py-2 text-left">Email</th>
          <th class="px-4 py-2 text-left">Type</th>
          <th class="px-4 py-2 text-left">Regular</th>
          <th class="px-4 py-2 text-left">Active</th>
          <th class="px-4 py-2 text-left rounded-tr-lg">Actions</th>
        </tr>
      </thead>
      <tbody class="bg-colors-lightIndigo">
        <tr *ngFor="let client of paginatedClients()">
          <td class="text-gray-100 border-b-2 border-blue-7 text-xs opacity-70 px-4 py-2">{{ client.identification }}</td>
          <td class="text-gray-100 border-b-2 border-blue-7 text-xs opacity-70 px-4 py-2">{{ client.firstName }}</td>
          <td class="text-gray-100 border-b-2 border-blue-7 text-xs opacity-70 px-4 py-2">{{ client.lastName }}</td>
          <td class="text-gray-100 border-b-2 border-blue-7 text-xs opacity-70 px-4 py-2">{{ client.email }}</td>
          <td class="text-gray-100 border-b-2 border-blue-7 text-xs opacity-70 px-4 py-2">{{ client.type }}</td>
          <td class="text-gray-100 border-b-2 border-blue-7 text-xs opacity-70 px-4 py-2">{{ client.isRegular ? 'Yes' : 'No' }}</td>
          <td class="text-gray-100 border-b-2 border-blue-7 text-xs opacity-70 px-4 py-2">{{ client.isActive ? 'Yes' : 'No' }}</td>
          <td class="text-gray-100 border-b-2 border-blue-7 text-xs px-4 py-2 text-left">
            <button class="bg-blue-3 text-white px-2 py-1 rounded mr-2 mt-1 w-[5rem]" (click)="editClient(client)">Edit</button>
            <button class="bg-colors-red text-white px-2 py-1 rounded mt-1 w-[5rem]" (click)="deleteClient(client._id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-1 flex justify-end items-center">
    <button class="bg-blue-6 text-gray-100 px-2 py-1 rounded" (click)="previousPage()" [disabled]="currentPage === 1">
      {{'<'}}
    </button>
    <div class="mx-2 text-xs text-gray-100">
      {{currentPage}} of {{totalPages}}
    </div>
    <button class="bg-blue-6 text-gray-100 px-2 py-1 rounded" (click)="nextPage()" [disabled]="currentPage === totalPages">
      {{'>'}}
    </button>
    <div class="flex justify-between items-center ml-3">
      <button class="bg-teal-4 text-gray-100 px-3 py-1 rounded text-xs flex items-center" (click)="exportToExcel()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25M9 16.5v.75m3-3v3M15 12v5.25m-4.5-15H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
        </svg>
      </button>
    </div>
  </div>

</div>
