<div class="container mx-auto p-4 mob:w-[100vw] mob:p-2">
  <div class="w-full my-4 flex items-center justify-between">
    <h1 class="text-4xl font-bold font-sans text-white">Clients</h1>
    <div class="ml-5 flex items-center">
      <button class="bg-teal-4 text-white px-2 py-1 rounded" (click)="createClient()">Add New Client</button>
    </div>
  </div>
  <div class="my-4 rounded-lg shadow bg-blue-6 p-4 flex flex-col">
    <input 
      type="text" 
      placeholder="Search by first name, last name" 
      class="w-full p-2 bg-blue-7 rounded focus:outline-none focus:shadow-outline text-gray-100"
      [(ngModel)]="filterTerm"
    >
    <div class="flex flex-wrap items-center justify-start mt-2">
      <div class="mr-4 mt-2">
        <label for="typeFilter" class="block text-gray-100 text-sm">Filter by Type</label>
        <select id="typeFilter" [(ngModel)]="typeFilter" class="w-full p-2 bg-blue-7 text-gray-100 w-[10rem] rounded">
          <option value="">All</option>
          <option value="PERSON">Person</option>
          <option value="COMPANY">Company</option>
        </select>
      </div>
    
      <div class="mr-4 mt-2">
        <label for="statusFilter" class="block text-gray-100 text-sm">Filter by Status</label>
        <select id="statusFilter" [(ngModel)]="statusFilter" class="w-full p-2 bg-blue-7 text-gray-100 w-[10rem] rounded">
          <option value="">All</option>
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
        </select>
      </div>
    
      <div class="mt-2">
        <label for="regularFilter" class="block text-gray-100 text-sm">Filter by Regular Client</label>
        <select id="regularFilter" [(ngModel)]="regularFilter" class="w-full p-2 bg-blue-7 text-gray-100 w-[10rem] rounded">
          <option value="">All</option>
          <option value="true">Regular</option>
          <option value="false">Not Regular</option>
        </select>
      </div>
    </div>
  </div>

  <div class="overflow-x-auto">
    <table class="min-w-full">
      <thead class="bg-blue-6 text-gray-100">
        <tr>
          <th class="px-4 py-2 text-left rounded-tl-lg">Identification</th>
          <th class="px-4 py-2 text-left">First Name</th>
          <th class="px-4 py-2 text-left">Last Name</th>
          <th class="px-4 py-2 text-left">Email</th>
          <th class="px-4 py-2 text-left">Type</th>
          <th class="px-4 py-2 text-left">Regular</th>
          <th class="px-4 py-2 text-left">Active</th>
          <th class="px-4 py-2 text-left rounded-tr-lg">Actions</th>
        </tr>
      </thead>
      <tbody class="bg-colors-lightIndigo">
        <tr *ngFor="let client of paginatedClients()">
          <td class="text-gray-100 border-b-2 border-blue-7 text-xs opacity-70 px-4 py-2">{{ client.identification }}</td>
          <td class="text-gray-100 border-b-2 border-blue-7 text-xs opacity-70 px-4 py-2">{{ client.firstName }}</td>
          <td class="text-gray-100 border-b-2 border-blue-7 text-xs opacity-70 px-4 py-2">{{ client.lastName }}</td>
          <td class="text-gray-100 border-b-2 border-blue-7 text-xs opacity-70 px-4 py-2">{{ client.email }}</td>
          <td class="text-gray-100 border-b-2 border-blue-7 text-xs opacity-70 px-4 py-2">{{ client.type }}</td>
          <td class="text-gray-100 border-b-2 border-blue-7 text-xs opacity-70 px-4 py-2">{{ client.isRegular ? 'Yes' : 'No' }}</td>
          <td class="text-gray-100 border-b-2 border-blue-7 text-xs opacity-70 px-4 py-2">{{ client.isActive ? 'Yes' : 'No' }}</td>
          <td class="text-gray-100 border-b-2 border-blue-7 text-xs px-4 py-2 text-left">
            <button class="bg-blue-3 text-white px-2 py-1 rounded mr-2 mt-1 w-[5rem]" (click)="editClient(client)">Edit</button>
            <button class="bg-colors-red text-white px-2 py-1 rounded mt-1 w-[5rem]" (click)="deleteClient(client._id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-1 flex justify-end items-center">
    <button class="bg-blue-6 text-gray-100 px-2 py-1 rounded" (click)="previousPage()" [disabled]="currentPage === 1">
      {{'<'}}
    </button>
    <div class="mx-2 text-xs text-gray-100">
      {{currentPage}} of {{totalPages}}
    </div>
    <button class="bg-blue-6 text-gray-100 px-2 py-1 rounded" (click)="nextPage()" [disabled]="currentPage === totalPages">
      {{'>'}}
    </button>
    <div class="flex justify-between items-center ml-3">
      <button class="bg-teal-4 text-gray-100 px-3 py-1 rounded text-xs" (click)="exportToExcel()">
        To Excel
      </button>
    </div>
  </div>

</div>
